<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucaszanella.sisgrad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Sisgrad"
        android:allowBackup="true"
        android:icon="@drawable/unesplogo_type2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".DataProvider"
            android:authorities="com.lucaszanella.sisgrad"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucaszanella.sisgrad.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucaszanella.sisgrad.MainActivity" />
        </activity>
        <activity
            android:name=".ReadMessageActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>